html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0px;
}

strong {
  color: var(--cor-p6);
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

.whats-icon {
  height: 80px;
  width: 120px;
  position: fixed;
  bottom: 45px;
  right: -20px;
  z-index: 99999;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #btn-mobile {
    display: block;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 111px;
    left: 0px;
    background: var(--cor-p3);
    height: 0px;
    z-index: 1000;
    transition: 0.3s;
    overflow-y: hidden;
    visibility: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 111px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0rem;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburger {
    display: block;
    border-top: 2px solid var(--cor-p3);
    width: 30px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    width: 30px;
    height: 2px;
    background: currentColor;
    display: block;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
