.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  background: var(--cor-0);
}

.logo {
  width: 200px;
}

.links-menu {
  display: flex;
  gap: 12px;
  font-size: 1.5rem;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.links-menu a {
  display: block;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
}

/* .links-menu a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--cor-p3);
  transition: 0.3s;
}

.links-menu a:hover::after {
  width: 100%;
} */

#btn-mobile {
  display: none;
}

.dropdown-menu {
  position: relative;
}

.dropdown-links::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d15618;
}

.dropdown-links {
  display: none;
  background: #d15618;
  color: var(--cor-0);
  position: absolute;
  padding: 10px;
  z-index: 1;
  left: 10px;
}

[data-dropdown].ativo .dropdown-links {
  display: block;
  animation: animaDropDown 0.3s forwards;
}

@media (min-width: 1024px) {
  .dropdown-menu:hover .dropdown-links {
    display: block;
    animation: animaDropDown 0.3s forwards;
  }
}

.dropdown-links li {
  background: transparent;
}

.dropdown-links li a {
  display: block;
  border-radius: none;
}

.dropdown-links li a:hover {
  color: var(--cor-p3);
}

.dropdown-links li a::after {
  display: none;
}

@media (max-width: 60rem) {
  .logo {
    width: 140px;
  }
}

@media (max-width: 37.5rem) {
  .links-menu a {
    color: var(--cor-0);
  }
  #btn-mobile {
    display: block;
  }

  .dropdown-links {
    padding: 0;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 96px;
    left: 0px;
    background: var(--cor-p3);
    height: 0px;
    z-index: 1000;
    transition: 0.5s;
    overflow-y: hidden;
    visibility: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 96px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburger {
    display: block;
    border-top: 2px solid var(--cor-p3);
    width: 30px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    width: 30px;
    height: 2px;
    background: var(--cor-p3);
    display: block;
    margin-top: 8px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -10px;
  }
}

@media (max-width: 34.375rem) {
  .links-menu a::after {
    display: none;
  }

  .header {
    gap: 0px;
    align-items: center;
    justify-content: space-between;
  }

  .links-menu a {
    border-radius: 0px;
  }

  .dropdown-links {
    display: none;
    position: initial;
    z-index: 1;
    left: 10px;
  }
}

@keyframes animaDropDown {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
