.car-section {
  background-image: url(../../img/fotoCarE.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.car {
  padding: 120px 20px 120px 20px;
}

.texto-car {
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 75ch;
  font-weight: bold;
}

.car-info {
  margin-top: 100px;
  display: flex;
  gap: 60px;
}

.car-lista {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 350px));
  gap: 20px;
}

.car-lista li {
  min-width: 300px;
}

.car-lista p {
  max-width: 35ch;
  font-weight: bold;
}

.car-lista li h3 {
  display: inline-block;
  font-weight: bold;
}

.car-lista li h3::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--cor-0);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.img-car {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  border: 2px solid var(--cor-p4);
}

.botao-car {
  border-color: var(--cor-p4);
  color: var(--cor-0);
  font-weight: bold;
  margin-top: 60px;
}

.botao-car::after {
  background: var(--cor-p4);
}

.botao-car:hover {
  border-color: var(--cor-0);
}
