.bg-principal {
  background-image: url('../../img/fotoMain.jpg');
  height: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  padding: 120px 20px 120px 20px;
}

.main h1,
.main p,
.main a {
  font-weight: bold;
}

.main p {
  max-width: 40ch;
  animation: showLeft 2s forwards;
}

.main h1 {
  margin-bottom: 20px;
  animation: showDown 2s forwards;
}

.main .btn {
  margin-top: 40px;
  font-weight: bold;
  place-self: center;
  animation: showUp 2s forwards;
}

@media (max-width: 900px) {
  .main {
    padding: 40px 20px 40px 20px;
  }
}

@media (max-width: 600px) {
  .main {
    text-align: center;
  }

  .bg-principal {
    background-attachment: scroll;
  }
}

@media (max-width: 500px) {
  .bg-principal {
    background-image: url('../../img/fotoMainMobile.jpg');
  }
}
