.bg-principal {
  background-image: url('../../img/fotoMain.jpg');
  height: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  padding: 120px 20px 120px 20px;
}

.main h1,
a,
p {
  font-weight: bold;
}

.main p {
  max-width: 40ch;
}

.main h1 {
  margin-bottom: 20px;
}

.main .btn {
  margin-top: 40px;
  font-weight: bold;
  place-self: center;
}

@media (max-width: 600px) {
  .main {
    padding: 60px 20px 60px 20px;
    text-align: center;
  }

  .bg-principal {
    background-position: left top;
  }
}
