.bg-servicos {
  background: #273a24; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #273a24,
    #386631
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #273a24,
    #386631
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.servicos {
  padding: 120px 20px 120px 20px;
}

.servicos h2 {
  display: inline-block;
}

.servicos h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  width: 100%;
  background: var(--cor-0);
  margin-top: 4px;
}

.texto-servicos {
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 75ch;
}

.lista-servicos li {
  display: grid;
  gap: 20px;
}

.img-servico {
  max-width: 100%;
  height: 350px;
  border-radius: 20px;
  border: 2px solid var(--cor-p3);
}

.lista-servicos {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 400px));
  gap: 20px;
  justify-content: center;
}

.conteudo-servico {
  display: flex;
  flex-direction: column;
}

.lista-servicos h3 {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.lista-servicos h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 4px;
  margin-bottom: 8px;
  background: var(--cor-p6);
}

.btn-servico {
  place-self: center;
  gap: 200px;
}

@media (max-width: 1200px) {
  .lista-servicos {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    text-align: center;
  }
}

@media (max-width: 600px) {
  .servicos {
    padding: 40px 20px 40px 20px;
    text-align: center;
  }

  .lista-servicos {
    grid-template-columns: 1fr;
  }

  .lista-servicos li {
    margin-top: 20px;
  }

  .img-servico {
    height: 300px;
  }
}
