:root {
  --cor-0: #fefefe;
  --cor-1: #fff;

  --cor-p1: #fff;
  --cor-p2: #6b704d;
  --cor-p3: #273a24;
  --cor-p4: #223820;
  --cor-p5: #192916;
  --cor-p6: #82bf02;
  --cor-p7: #838b66;
}

.cor-0 {
  color: var(--cor-0);
}

.cor-p1 {
  color: var(--cor-p1);
}

.cor-p2 {
  color: var(--cor-p2);
}

.cor-p3 {
  color: var(--cor-p3);
}

.cor-p4 {
  color: var(--cor-p4);
}

.cor-p5 {
  color: var(--cor-p5);
}

.cor-p6 {
  color: var(--cor-p6);
}

.cor-p7 {
  color: var(--cor-p7);
}
