.bg-pagina-car {
  background: #273a24; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #273a24,
    #386631
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #273a24,
    #386631
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.conteudo-pagina-car {
  padding-right: 20px;
}

.pagina-car,
.info-adicionais {
  padding: 120px 20px 120px 20px;
}

.pagina-car {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conteudo-pagina-car h1,
.info-adicionais h2 {
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
}

.conteudo-pagina-car h1::after,
.info-adicionais h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 4px;
  background: var(--cor-0);
}

.info-adicionais h2::after {
  background: var(--cor-p3);
}

.conteudo-pagina-car p,
.info-adicionais p {
  max-width: 75ch;
  margin-bottom: 20px;
}

.foto-pagina-car {
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-size: cover;
}

.info-adicionais-bg {
  background: var(--cor-0);
}

.info-adicionais h3 {
  margin-top: 40px;
}

.vantagens-car {
  margin-top: 10px;
  margin-bottom: 40px;
}

.vantagens-car li {
  position: relative;
  margin-left: 24px;
}

.vantagens-car li::before {
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background: url('../../img/sustentavel.svg');
  left: -24px;
  top: 0px;
}

.vantagens-car li + li {
  margin-top: 6px;
}

@media (max-width: 960px) {
  .pagina-car {
    display: block;
  }
  .conteudo-pagina-car {
    padding-right: 0;
  }

  .pagina-car,
  .info-adicionais {
    padding: 80px 20px 80px 20px;
  }
}

@media (max-width: 450px) {
  .info-adicionais {
    padding: 40px 20px 40px 20px;
  }

  .conteudo-pagina-car {
    padding: 40px 20px 10px 20px;
  }

  .pagina-car {
    padding: 0;
  }

  .foto-pagina-car {
    min-height: 300px;
  }
}
